<ul>
  <li> <a href="/home">Home</a> </li>
  <li> <a href="/about" class="active">About</a> </li>
  <li> <a href="/contact">Contact Us</a> </li>
  <li> <a href="/children">Meet The Kids</a> </li>
  <li> <a href="/form" class="signup">Sign Up</a> </li>
</ul>

<br><br>
<h1> About Us </h1>
<div id="about"> E whakaatu ana tenei whaarangi ipurangi i nga ahuatanga katoa e heipu ana o roto i to tatou nei Puna Reo. Hei whakamarama atu ki nga matua mo nga mahi katoa huri noa i te Puna. Ara nga rawa, nga kope, nga ukui, nga paura miraka, nga patara, te roanga o te moe, ina hiahia paraikete hou, nga whanonga, nga waiata me nga karakia, nga whakaahua, ina he tamariki hou, he haerenga ranei, he panui, a, ina hiahia awhina mai i nga matua me aua tumomo ahuatanga katoa.</div>
