<ul>
  <li> <a href="/">Home</a> </li>
  <li> <a href="/about">About</a> </li>
  <li> <a href="/contact">Contact Us</a> </li>
  <li> <a href="/children" class="active">Nga Tamariki</a> </li>
  <li> <a href="/form" class="signup">Sign Up</a> </li>
</ul>

<br><br>
<h1> Nga Tamariki </h1>
<div id="list">
  {{#each children}}
    <a href='/child/{{id}}' class="kids">{{name}}</a><br>
  {{/each}}
</div>
