<ul>
  <li> <a href="/home">Home</a> </li>
  <li> <a href="/about">About</a> </li>
  <li> <a href="/contact">Contact Us</a> </li>
  <li> <a href="/children" class="active">Meet The Kids</a> </li>
  <li> <a href="/form" class="signup">Sign Up</a> </li>
</ul>

<div id="list">
  {{#each children}}
    <a href='/child/{{id}}'>{{name}}</a><br>
  {{/each}}
</div>
