<ul>
  <li> <a href="/home">Home</a> </li>
  <li> <a href="/about">About</a> </li>
  <li> <a href="/contact" class="active">Contact Us</a> </li>
  <li> <a href="/children">Meet The Kids</a> </li>
  <li> <a href="/form" class="signup">Sign Up</a> </li>
</ul>

<h1> Contact Us </h1>
<div class="container">
  <div id="email"> Email </div>

  <div id="phone"> Phone </div>
  <div id="address"> Address </div>
</div>


<div class="email">
  <img src="img_fjords.jpg" alt="Norway">
  <div class="w3-container w3-center">
    <p>The Troll's tongue in Hardanger, Norway</p>
  </div>
</div>
