<ul>
  <li> <a href="/home">Home</a> </li>
  <li> <a href="/about">About</a> </li>
  <li> <a href="/contact" class="active">Contact Us</a> </li>
  <li> <a href="/children">Nga Tamariki</a> </li>
  <li> <a href="/form" class="signup">Sign Up</a> </li>
</ul>

<br><br>
<h1> Contact Us </h1>
<div class="container">
  <div id="email">
    <img src="http://www.clipartbest.com/cliparts/7ca/xor/7caxorpcA.png" width="100px" height="100px">
    <h2>Email:</h2>
    <p>raparapaririki@punareo.co.nz</p></div><br>
  <div id="phone">
    <img src="http://plainicon.com/download-icons/48788/plainicon.com-48788-ecbe-128px.png" width="100px" height="100px">
    <h2>Phone:</h2>
    <p>(06)8648123</p></div><br>
  <div id="address">
    <img src="http://mediaspark.ru/images/svg/icon-point.svg" width="100px" height="100px">
    <h2>Address:</h2>
    <p>1 Tuparoa Road, Ruatoria. 4032</p></div>
</div>
