<ul>
  <li> <a href="/home">Home</a> </li>
  <li> <a href="/about">About</a> </li>
  <li> <a href="/contact">Contact Us</a> </li>
  <li> <a href="/children">Meet The Kids</a> </li>
  <li style="float:right"> <a href="/form" class="active" id="signup">Sign Up</a> </li>
</ul>

<br><br><br><br>

<form class="signup-form" method="post">
  First Name <input type="text" placeholder="First Name"><br>
  Last Name <input type="text" placeholder="Last Name"><br>
  Email <input type="text" placeholder="Email"><br>
  Phone <input type="number" placeholder="Phone"><br>
  Childs ID <input type="number" placeholder="Child ID">

<br><button type="submit" class="button" value="submit" name="button">Sign In</button>
</form>
