<ul>
  <li> <a href="/home" class="active">Home</a> </li>
  <li> <a href="/about">About</a> </li>
  <li> <a href="/contact">Contact Us</a> </li>
  <li> <a href="/children">Nga Tamariki</a> </li>
  <li> <a href="/form" class="signup">Sign Up</a> </li>
</ul>

<br><br>
<h1>'Te Puna Reo o Raparapaririki'</h1>
<div id='home'>Te tamaiti o Te Waiū Kia ekeina a Tikitiki-o-Rangi Kia tomohia a Rangiātea Kia mau ki te wānanga O te ao Māori O te ao whānui Koia nei te taumata whakahirahira O tōna ake ao.</div><br>

<div class="container">
  <div id="photos">
    <img src="http://fjp.zhuzher.com/ms/resource/images/icon/pichover.png" width="100px" height="100px">
    <h2>Whakaahua</h2></div><br>
  <div id="songs">
    <img src="https://image.freepik.com/free-icon/musical-note-symbol_318-32225.jpg" width="100px" height="100px">
    <h2>Waiata / Karakia</h2></div><br>
  <div id="teachers">
    <img src="https://image.freepik.com/free-icon/male-cartoon-pointing-to-white-board_318-44275.jpg" width="100px" height="100px">
    <h2>Nga Kaiako</h2></div>
</div>
