<ul>
  <li> <a href="/home" class="active">Home</a> </li>
  <li> <a href="/about">About</a> </li>
  <li> <a href="/contact">Contact Us</a> </li>
  <li> <a href="/children">Meet The Kids</a> </li>
  <li> <a href="/form" class="signup">Sign Up</a> </li>
</ul>

<h1>'Te Puna Reo o Raparapaririki'</h1>
<div id='home'> Nau mai haere mai ki te whaarangi ipurangi o Te Puna Reo o Raparapaririki. He whaarangi tenei hei whakamohiho atu ki nga matua e pa ana ki nga tumomo ahuatanga katoa o roto i te Puna.</div><br>
<div id='home'>Te tamaiti o Te Waiū Kia ekeina a Tikitiki-o-Rangi Kia tomohia a Rangiātea Kia mau ki te wānanga O te ao Māori O te ao whānui Koia nei te taumata whakahirahira O tōna ake ao.</div>
