<h1>'Te Puna Reo o Raparapaririki'</h1>
<div id='home'> Nau mai haere mai ki te whaarangi ipurangi o Te Puna Reo o Raparapaririki. He whaarangi tenei hei whakamohiho atu ki nga matua e pa ana ki nga tumomo ahuatanga katoa o roto i te Puna.</div><br>
<div id='mihi'>Te tamaiti o te waiu</div>

<br><a href="/form">Sign Up</a> <a href="/children">See All Kids</a>
