<body>
  <h1>'Raparapaririki'</h1>
  <p> Nau mai haere mai ki te whaarangi ipurangi o Te Puna Reo o Raparapaririki. He whaarangi tenei hei whakamohiho atu ki nga matua e pa ana ki nga tumomo ahuatanga katoa o roto i te Puna.</p>

  <a href="/form">Sign Up</a> <a href="/children">See All Kids</a>

</body>
