<ul>
  <li> <a href="/" class="active">Home</a> </li>
  <li> <a href="/about">About</a> </li>
  <li> <a href="/contact">Contact Us</a> </li>
</ul>

<br><br>
<h1>'Te Puna Reo o Raparapaririki'</h1>
<div id='home'>HOME PAGE</div>
