<a href="/about">About</a> <a href="/contact">Contact Us</a> <a href="/form">Sign Up</a><a href="/children">Meet The Kids</a>

<ul>
{{#each parents}}
  <br>This is my ID: {{id}}<br>
  My name is {{name}}<br>
  My email is {{email}}<br>
{{/each}}
<br><br>
<br><a href="/home">Back to Home</a>
</ul>
