<body>
  <ul>
  {{#each parents}}
    <br>This is my ID: {{id}}<br>
    My name is {{name}}<br>
    My email is {{email}}<br>
  {{/each}}
  <br><br>
  <a href="/home">Back to Home</a>
  </ul>
</body>
