<!DOCTYPE html>
<html>
  <head>
    <title>Te Puna Reo o Raparapaririki</title>
  </head>
  <body>
    <ul>
    {{#each parents}}
      <br>This is my ID: {{id}}<br>
      My name is {{name}}<br>
      My email is {{email}}<br>
    {{/each}}
    </ul>
  </body>
</html>
