/*nav bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  width: 200px;
  border-right: 1px solid #bbb;
}

li:last-child {
  float: right;
  border-left: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: purple;
}

/*body of all pages*/

body {
  width: auto;
  height: auto;
  background-color: black;
  /*background: -webkit-radial-gradient(white, cyan, blue);
  background: -o-radial-gradient(white, cyan, blue);
  background: -moz-radial-gradient(white, cyan, blue);
  background: radial-gradient(white, cyan, blue);*/
  text-align: center;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  color: purple;
  font-family: bold;
}

p {
  color: purple;
}

/*home page*/

#home, #about {
  background-color: white;
  color: purple;
  width: 500px;
  margin: auto;
  font-size: 25px;
  font-family: cursive;
  border-radius: 8px;
  padding: 10px;
}

#photos, #songs, #teachers {
  font-size: 20px;
  height: 200px;
  width: 300px;
  background-color: white;
  border: 1px solid #bbb;
  color: purple;
  font-family: cursive;
  margin: auto;
  padding: 10px;
  justify-content: center;
  border-radius: 8px;
}

/*contact page*/

#email, #phone, #address {
  font-size: 20px;
  height: 300px;
  width: 300px;
  background-color: white;
  border: 1px solid #bbb;
  color: purple;
  font-family: cursive;
  margin: auto;
  padding: 10px;
  justify-content: center;
  border-radius: 8px;
}

.container {
  display: flex;
}

/*all kids page*/
.kids {
  display: flex;
  font-size: 16px;
  width: 300px;
  background-color: white;
  color: purple;
  font-family: cursive;
  margin: auto;
  padding: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
}

/*sign up/register form*/

.signup-form {
  display: inline;
  text-align: center;
  color: white;
}

input {
  width: 20%;
  padding: 12px 12px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

input:focus {
    border: 3px solid #555;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}
